<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thank You Page</title>
<style media="screen">
  .img{
    padding-bottom: 5px;
  }
  #link{
    font-size: 20px;
  }
  body{
    padding-top: 50px;
  }
</style>
  <body>
    <center>
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkf0mVGX7HgYNRJ5qm9L6bDnOXJmSFaI7IOHwz1VcDzP4Qu9ZL5w" alt="Not Found">
      <h2>Thank You for your response</h2>
      </div>

    <h2>Your response has been recorded</h2>

    <a id="link" href="{{url_for('feedback_form')}}">Submit another response</a>
  </center>
    </div>


  </body>
</html>
